<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <exm>
      <dateTimeFormatter type="Sitecore.ExM.Framework.Formatters.DateTimeFormatter, Sitecore.ExM.Framework" singleInstance="true">
        <template>&lt;span title="{0}"&gt;{1}&lt;/span&gt;</template>
        <defaultOptions type="Sitecore.ExM.Framework.Formatters.DateTimeFormatterOptions, Sitecore.ExM.Framework">
          <richFormatting>true</richFormatting>
          <showUtcOffset>true</showUtcOffset>
        </defaultOptions>
      </dateTimeFormatter>
    </exm>
    <api>
      <services>
        <configuration>
          <allowedControllers hint="list:AddController">
            <allowedController desc="DateTimeInfoController">Sitecore.Support.EmailCampaign.Server.Controllers.Localization.DateTimeInfoController, Sitecore.Support.162461.167180</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>